body{
    background-color: #457845;
    margin: 0px;
    padding: 0px;
}
#box1{
    background-color: #F39C12;
    height: 100px;
    width: 100%;
}
#box2{
    background-color: aquamarine;
    height: 700px;
    width: 100%;
}
#box3{
    background-color: #633974;
    height: 200px;
    width: 100%;
}