body {
    font-family: sans-serif;
  }
  
  .App {
    position: relative;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  p {
    color: white;
    font-size: 30px;
  }
  
  .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  