body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
*{
    box-sizing: border-box;
    color:black;
}
.container{
    width: 600px;
    height: auto;
    margin: auto;
}
.a{
    height: 60px;
    background-color: blueviolet;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
.containerb{
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items:start;
}

.b{
    background-color: blanchedalmond;
    height: 50px;
    width: 150px
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    flex-grow: 1;
    justify-content:flex-start;
    align-content:center;
    align-items:center;
    margin: 5px 5px 5px 0;
}
.d{
    background-color: rgb(194, 125, 21);
    height: 50px;
    width: 150px
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    flex-grow: 8;
    justify-content:end;
    align-content:center;
    align-items:center;
    margin: 5px 5px 5px 0;
    
}


.c{
    background-color: rgb(73, 21, 194);
    height:50px;
    width: 150px;
    display: flex;
    flex-direction:row;
    justify-content:column;
    align-content:center;
    align-items:center;
    flex-wrap: nowrap;
    
}
    
.e{
    background-color: rgb(21, 174, 194);
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction:row;
    justify-content:column;
    align-content:center;
    align-items:center;
    flex-wrap: nowrap;
}

.container3{
    height: 80px ;
    width: 600px ;
    display: flex;
    flex-direction:row;
}
.f{
    background-color: rgb(194, 21, 21);
    height: 80px;
    width: 400px;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content:space-between;
    
}
.g{
    background-color: rgb(142, 194, 21);
    height: 80px;
    width: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content:space-between;
    
}

.h{
    height: 60px;
    background-color: rgb(226, 43, 156);
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: space-between;
}
