body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
*{
    box-sizing: border-box;
    color:black;
}
.container{
    width: 600px;
    height: auto;
    margin: auto;
}
.a{
    height: 60px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.containerb{
    height: 200px ;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.container1{
    height: 200px ;
    width: 200px;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
}
.b{
    background-color: blanchedalmond;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    align-content: center;
    margin: 5px 5px 5px 0px;
}
.d{
    background-color: rgb(194, 125, 21);
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    align-content:center;
    margin: 5px 5px 5px 0px;
}
}
.container2{
    height: 300px ;
    display: flex;
    flex-direction:column;
}
.c{
    background-color: rgb(73, 21, 194);
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    align-content:center;
    margin: 5px 5px 5px 0px;
}

.e{
    background-color: rgb(21, 174, 194);
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    align-content:center;
    margin: 5px 5px 5px 0px;
}

.container3{
    height: 80px ;
    width: 600px ;
    display: flex;
    flex-direction:row;
}
.f{
    background-color: rgb(194, 21, 21);
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    align-content:center;
    margin: 5px 5px 5px 0px;
}
.g{
    background-color: rgb(142, 194, 21);
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    align-content:center;
    margin: 5px 5px 5px 0px;
}

.h{
    height: 60px;
    background-color: rgb(226, 43, 156);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
